
body{
    margin: 0;
}
 
img{
    pointer-events: none;
}
header,nav{
    display: flex;
    background-color: #0e43c9;
    padding: 2px;
 }

 

.bgImage{
    display: block;
    width: 60%;
    height: 300;
    border: 2px #2771fb;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    -webkit-user-drag: none;
      user-drag: none;
}
.bgImage::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: transparent;
      z-index: 10;
    }

.logo{
    width: 90px;
    height: 80px;
    padding: 20px;
 }
.subheader{
     /* color: #0e43c9; */
     margin-left: 20%;
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: medium;

}

.subheaderhistory{
     /* color: #0e43c9; */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: initial;
    font-variation-settings:
    "wdth" 100;
    font-size: 18px;

}
.description{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    column-count: 2;
    line-height: 1.4; 
}

.description_sub{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    line-height: 1.4; 
    /* padding: 0; */
    /* font-family: "Unna", serif;
    font-weight: 500;
    font-style: normal;
     font-variation-settings:
    "wdth" 100;  */

    font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size: 14px;
}


 

.h4{
    color: #2771fb;
    font-family: Arial, Helvetica, sans-serif;
 
}
.address{
    padding: 5px;
    
}

.space-div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo{
   
    position: absolute;
    z-index: 1000;
    border: #2771fb;
    border-radius: 10px;
    margin-left: 30px;
}

.highlight{
    font-weight: bold;
    color: #800000;
}

 

 .scrolling-text {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      color: red;
    }

    .scrolling-text p {
      display: inline-block;
      padding-left: 100%;
      animation: scroll-left 20s linear infinite;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    /* .container{
        display: flex;
         flex-direction: column;
    } */


    /* Updated UI */
    /* .wrapper{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    } */
     

     @media (max-width:786px){
    .bgImage{
    display: block;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    -webkit-user-drag: none;
      user-drag: none;
}
.bgImage::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: transparent;
      z-index: 10;
    }

 .subheader{
    /* color: #0e43c9; */
     margin-left: 3%;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

.subheaderhistory{
     /* color: #0e43c9; */
     text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 18px;
    

}

.description_sub{
     margin-left: 3%;
     margin-right: 3%;
    width: auto;
    line-height: 1.4; 
    padding: 0;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size: 15px;
}

     }

