 
 body{
    margin: 0;
    width: 100%;
  overflow-x: hidden;
}
header,nav{
    display: flex;
    background-color: #0e43c9;
    padding: 2px;
 }

.bgImage{
    display: block;
    width: 60%;
    height: 300;
    border: 2px #2771fb;
    border-radius: 2px;
     margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.subheader{
    /* color: #0e43c9; */
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: medium;
    margin-left: 20%;

} 

.description1{
    margin-left: auto;
    margin-right: auto;
    width: 59%;
    /* background-color: burlywood; */
    background-color: cornsilk;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
      font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:100;
  font-style: italic;
  font-size: 14px;

} 
 
 

.ul{ 
    margin-left: auto;
    margin-right: auto;  
    width: 60%;
    column-count: 2;
    list-style-type: disc;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
   font-weight:500;
   font-style: normal;
   font-size: 14px;
   
 
}
.ul li{
    margin-bottom: 10px;
}

li::marker { 
    color: #800000;   
} 
 

     @media (max-width:786px){
    .bgImage{
    display: block;
    width: 100%;
    height: 150;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
 }

 .subheader{
    /* color: #0e43c9; */
     margin-left: 3%;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 17px;
    font-variation-settings:
    "wdth" 100;

}

.description1{
     margin-left: 3%;
     margin-right: 3%;
    width: 100%;
    line-height: 1.4; 
    padding: 0; 
    font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-size: 15px;
  padding: 3%;
}
     


.ul{  
    width: 100%;
    column-count: 1;
    list-style-type: disc;
    /* padding-left: 20px;
    padding-bottom: 20px; */
    font-family: "Domine", serif;
    font-optical-sizing: auto;
   font-weight:400;
   font-style: normal;
   font-size: 15px;
   margin-left: 3%;
   margin-right: 3%;
   
 
}

}
