.ind_h4{
    color: #FFC300;
    /* 05A36E */
   font-family: "Vollkorn", serif;
   font-weight: 600;
   font-style: normal;
    margin: 0;

 
}
.ind_h5{
    color: #FFEEB8;
    font-family: "Vollkorn", serif;
   font-weight: 300;
   font-style: normal;
    margin: 0;
 
}
.subheader{
    /* color: #0e43c9; */
     margin-left: auto;
     margin-right: auto;
     width: auto;
    margin-top: 2%;
    font-family: "Unna", serif;
    /* font-weight: 600; */
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, red, rgb(255, 77, 0), rgb(255, 0, 0), rgb(35, 106, 160), blue, indigo, rgb(146, 2, 21));
    -webkit-background-clip: text;
    color: transparent;

}
.index-space-div{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'sans-serif'; */
}

.index-space-div-career{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFEEB8;
    font-size: 23px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'sans-serif';
}



.index-space-div-address{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 15px;
    display: block;
    /* font-family: 'sans-serif'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.index-space-div-address-mob{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}
.def-background{
    width: 60%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    background-color: #343434;
    padding: 20px;
     
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border-color: #800;

} 
hr.dotted {
  width: 100%;
  height: 1%; 
  border-top: 3px line #f5f5f5; /* 1px dotted black line */
  border-bottom: none; /* Prevents a faint bottom line in some browsers */
}
 .custom-line {
                border: none; /* Remove default border */
                border-top: 2px solid #ccc; /* Add a custom top border */
                margin: 20px 0; /* Add some vertical spacing */
                width: 50%; /* Set a specific width */
                align-self: center; /* Center the line */
            }
.contactus-description{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    line-height: 1.5;
    font-family: "Domine", serif;
   font-optical-sizing: auto;
   font-weight:500;
   font-style: normal;
   font-size: 14px;
}
 

.contactus-sub-header{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 30%;
    line-height: 1.5;
    font-size: 14px;
     /* padding: 0; */
    margin-top: 2rem;
    margin-bottom: 0;
    color:#800;
    font-size: 17px;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
     border: 1px solid black;
     text-align: center;
    
}
 
 
/* Updated UI*/
.contactus-body{
    height: 90%;
    
}


/* Fonts */
.domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
 
.redressed-regular {
  font-family: "Redressed", cursive;
  font-weight: 400;
  font-style: normal;
}


 


 @media (max-width:786px){
     

 .subheader{
    margin-left: 3%;
    font-family: "Unna", serif;
    /* font-weight: 900; */
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;

}

 .custom-line {
                border: none; /* Remove default border */
                border-top: 2px solid #ccc; /* Add a custom top border */
                margin: 20px 0; /* Add some vertical spacing */
                width: 100%; /* Set a specific width */
                align-self: center; /* Center the line */
            }

.contactus-description{
     margin-left: 3%;
     margin-right: 3%;
     width: auto;
    line-height: 1.4; 
    padding: 0; 
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 15px;
    
}


.contactus-sub-header{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    line-height: 1.5;
    font-size: 15px;
    padding: 10px;
     margin-top: 2rem;
    margin-bottom: 0;
    color:#800;
    font-size: 16px;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    border: 1px solid black;
}

/* Updated UI*/
.contactus-body{
    height: 55%;
    
}
 
 

body{
    margin: 0; 
}
  
.def-background{
    width: 60%;
    height: 60%; 
    margin-left: auto;
    margin-right: auto;
    background-color: #343434;
    padding: 20px;
    color:#FF5733 ;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border-color: #800;

} 
.ind_h4{
    color: #FFC300;
    /* 05A36E */
   font-family: "Vollkorn", serif;
   font-weight: 600;
   font-style: normal;
    margin: 0;

 
}

.ind_h5{
    color: #FFEEB8;
    font-family: "Vollkorn", serif;
   font-weight: 300;
   font-style: normal;
    margin: 0;
 
}

.address{
    padding: 5px;
    
}

.index-space-div{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 15px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'sans-serif';
}

.index-space-div-career{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFEEB8;
    font-size: 15px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'sans-serif';
}
.index-space-div-address{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 14px;
    display: block;
    font-family: 'sans-serif';
}

.index-space-div-address-mob{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 15px;
    font-family: 'sans-serif';
    display: none;
} 

.highlight{
    /* background-color: #FFC300; */
    font-weight: bold;
    color: #2771fb;
    /* background-color: ; */
}
 

 

    @keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

 }

     

/* Re Mobile*/
@media (max-width: 768px) {
  

/* Footer */
.def-background{
   height: auto; 
    margin-left: auto;
    margin-right: auto;
    background-color: #343434;
    padding: 20px;
    display: flex;
    color:#FF5733 ;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
border-radius: 40px;
    border-color: #800;
} 
  

  
 body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
 }

  
.ind_h4{
    color: #FFC300;
     font-family: "Vollkorn", serif;
   font-weight: 600;
   font-style: normal;
    margin: 0;
    margin-top: 20px;
 
}
 
  

.index-space-div-address{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    display: none;
    font-size: 14px;
    font-family: 'sans-serif';
}

.index-space-div-address-mob{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 14px;
    display: block;
    font-family: 'sans-serif';
}

}
