 
body{
    margin: 0; 
}
 
.logo{ 
    position: absolute;
    z-index: 1000;
    border: #2771fb;
    border-radius: 10px;
    margin-left: 30px;
}

.bgImage{
    display: block;
    width: 60%;
    height: 300;
    border: 2px #2771fb;
    border-radius: 2px;
     margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.event-banner{
    display: block;
    width: 60%;
    height: 300;
    border: 2px #2771fb;
    border-radius: 2px;
     margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}


.career-subheader{
    color: #6d6e6e;
    background-color: #bbdb2e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20%;
    width: fit-content;
    

}
.career-description{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    line-height: 1.5; 
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-size: 14px;
    
}


.subheader{
    /* color: #0e43c9; */
     margin-left: 20%;
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: medium;
}
 


header,nav{
    display: flex;
    background-color: #0e43c9;
    padding: 2px;
 }


 @media (max-width:786px){
    .bgImage{
    display: block;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
 }

 .subheader{
    /* color: #0e43c9; */
     margin-left: 3%;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

.career-description{
     margin-left: 3%;
     margin-right: 3%;
    width: 100%;
    line-height: 1.4; 
    padding: 0; 
    font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size: 15px;
}

     }