 
body{
    margin: 0; 
}
 img{
    pointer-events: none;
 }
.logo{ 
    position: absolute;
    z-index: 1000;
    border: #2771fb;
    border-radius: 10px;
    margin-left: 30px;
}

.bgImage{
    display: block;
    width: 60%;
    height: 300;
    border: 2px #2771fb;
    border-radius: 2px;
     margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.event-banner{
    display: block;
    width: 60%;
    height: 300px;
    border: 2px #2771fb;
    border-radius: 2px;
     margin-left: auto;
    margin-right: auto;
    /* margin-top: 2%; */
   -webkit-user-drag: none;
      user-drag: none;
}
.event-banner::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: transparent;
      z-index: 10;
    }


.events-subheader{
    /* color: #6d6e6e; */
    color: #800;
    background-color: #bbdb2e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20%;
    width: fit-content;
    padding: 5px;

}
.events-description{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    line-height: 1.5; 
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 10px;
    
}


.subheader{
    /* color: #0e43c9; */
    margin-left: 20%;
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: medium;
}
 


header,nav{
    display: flex;
    background-color: #0e43c9;
    padding: 2px;
 }


 @media (max-width:786px){
    .bgImage{
     display: block;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
 }

 .subheader{
     margin-left: 3%;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: large;
    
}

.events-subheader{
     margin-left: 3%;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 16px;
    /* margin-top: 5px; */
    margin: 0;
}

.events-description{
    margin: 0;
    margin-left: 3%;
     margin-right: 3%;
     margin-bottom: 5px;
    width: auto;
    line-height: 1.4; 
    padding: 0;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size: 15px;

}

.event-banner{
   display: block;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
   -webkit-user-drag: none;
      user-drag: none;
}
.event-banner::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: transparent;
      z-index: 10;
    }
     }

