
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


li{
    float: left;
}

ul{
    /* background-color: #333; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;

}
 
#content{
        flex: 1;
     }
li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    /* font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100; */
     /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li a:hover{
 
  color: #FFC300;

 
}

li a.active{
    background-color: brown;
    font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto;   /* Allow vertical scroll if needed */
  height: 100%;
}
 

.login{
  margin-left: auto;
  color: whitesmoke;
  text-align: center;
  padding: 14px 20px;
  display: block;
  text-decoration: none;
}

.login:hover{
     color: #FFC300;
}

nav{ 
    color: #f5f5f5;
    padding: 1rem;
 }


.rect-line{
    width: 100%;
    height: auto;
    background-color: #FFC300;
    
}

.description_sub{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    line-height: 1.4; 
}

.footer{
     
    background-color: #636363;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.footer1{
     
    background-color: #343434;
    padding: 20px;
    display: flex;
    color:#FF5733 ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

}

.ind_h4{
    color: #FFC300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
 
}

.ind_h5{
    color: #FFC300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
 
}

.address{
    padding: 5px;
    
}

.index-space-div{
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkgrey;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{

    position: absolute;
    z-index: 1000;
    border: #2771fb;
    border-radius: 10px;
    margin-left: 30px;
}

.highlight{
    /* background-color: #FFC300; */
    font-weight: bold;
    color: #2771fb;
    /* background-color: ; */
}
 

 .scrolling-text {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      color: red;
    }

    .scrolling-text p {
      display: inline-block;
      padding-left: 100%;
      animation: scroll-left 20s linear infinite;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

  

    /* Updated UI */
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .container{
        /* width: 200px; */
        text-align: left;
    }

    #content{
        flex: 1;
     }

     .announcements{
        text-align: center;
        font-size: 17px;
        color: red;
        padding: 10px;
     }

     /* div for header */
     .parent-div{
       background-color: #ffe9a0;
       /* background-color: grey; */
       display: flex;
       flex-direction: row;
       /* justify-content: space-between; */
       height: 20%;
       
     }

     /* .left-child{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px;
        width: 10%;
     }
     
     .right-child{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 30px;
      width: 10%;
      
      } */

  .left-child {
  width: 100px; /* or however wide your logo/badge should be */
  flex-shrink: 0;
  display: block;
}

.right-child {
  width: 100px; /* or however wide your logo/badge should be */
  flex-shrink: 0;
  margin-right: 70px;
  display: block;
}
     
     /* .mid-child{
      flex: 2;
      width: 80%;
     } */

     .mid-child {
  flex: 1;  /* this makes it occupy the remaining space */
  padding: 0 10px; /* optional spacing */
}

    .sub-child{
        flex: 2;       
     }
     .sub-child-left{
        gap: 10px;
        display: flex;
          
        
     }
    .logo{
    width: 90px;
    height: 80px;
    padding: 20px;
 }
 .badge{ 
    align-items: end;
    width: 90px;
    height: 90px;
    padding: 20px;
 }

 .school-name{
   display: flex;
   align-items: center;
   flex-direction: column;
   /* color: #800000; */
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
   margin: 0;
 }


 .parent_location{
    display: flex;   
 }
 .address-right{
  flex: 1;
  width: 100%;
 }
 .address-left{
   flex: 1;
   width: 100%;
 }

 .school-grade-left{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;  */

  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
 /* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 .school-grade-right{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }
 .school-address-left
 {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;  */
  
  /* font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 
 .school-address-right
 {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100; */
    
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }

 .school-name-right{
   /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   font-family: "DM Serif Text", serif;
   font-weight: 600;
   font-style: normal;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   color: #800000;
   padding-top: 4px;
   padding-left: 10px;
   padding-right: 10px;
   margin: 0;
    /* margin-right: 20px; */
    margin-top: 4%;
 }


 .school-name-left{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: "DM Serif Text", serif;
  font-weight: 600;
  font-style: normal;
  word-spacing: normal;

  /* font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal; */
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4%;
    color: #800000;
 }


 .marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
   color: red;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.merriweather-sans-uniquifier {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vollkorn-uniquifier {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.unna-regular {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

.unna-bold {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}

.unna-regular-italic {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: italic;
}

.unna-bold-italic {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/*  */
.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* horizontal on desktop */
  /* gap: 20px; */
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  background-color: #0e43c9;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size: 14px;
}

/* Hide toggle button on desktop */
.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-item {
  background-color:#0e43c9;
  color: whitesmoke;
  /* padding: 5px; */
  text-align: center;
}

.copy-rights{
  margin-top: auto;
  color: darkgray;
}

.footer-div-2{
  margin-top: 0;
}

.badge_1{ 
    display: none;
    margin-left: 60px;
    width: 90px;
    height: 90px;
    padding: 20px;
 }

  .badge_2{ 
    display: none;
    align-items: end;
    width: 90px;
    height: 90px;
    padding: 20px;
    transform: translateY(50%);
 }
 .badge_3{ 
    align-self: center;
    /* align-content: center; */
    margin-left: 60px;
    width: 100px;
    height: 100px;
    padding: 20px;
    display: none;
 }

/* Re Mobile*/
@media (max-width: 768px) {
  /* Navigation  */
  .nav-links{
    background-color: #0e43c9;
    color: whitesmoke;
    
  }

  
  .nav-links ul {
    flex-direction: column; /* vertical stack */
    display: none; /* hide menu initially */
    /* gap: 5px; */
    /* background-color: gray; */
    /* padding: 5px; */
  }

  .nav-links ul.active {
    display: flex; /* show menu when active */
    background-color: #0e43c9;
   }

  .nav-toggle {
    color: transparent;
    display: block; /* show hamburger */
  }
   
  .nav-toggle i {
    font-size: 20px;   /* Smaller icon */
    color: darkgrey;
    padding: 10px;       /* Dark gray */
  }

  .nav-toggle:hover i {
    color: #FFC300;    /* Bright blue on hover */
  }
 .nav-links a {
  text-decoration: none;
  color: darkgrey; 
  /* //0e43c9 */
  background-color: #0e43c9;
  margin: 0;
  padding: 10px;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
  font-size: 14px;
}

/* .nav-links a:hover{
 
  color: #FFC300;
} */

/* Footer */
.footer1{
    background-color: #343434;
    padding: 20px;
    display: flex;
    color:#FF5733 ;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.copy-rights{
  margin-top: 10px;
  color: darkgray;
  align-self: end;
}

.footer-div-2{
  margin-top: 10px;
}


/* Header */
 .parent-div{
       background-color: #ffe9a0;
       /* background-color: grey; */
       display: flex;
       flex-direction: col;
       /* justify-content: space-between; */
       height: auto;
       
     }

    .parent_location{
    display: flex;   
    flex-direction: column;
 }

 .school-address-right
 { 
    
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin-bottom: 20px;
 }


 .school-name-right{
  font-family: "DM Serif Text", serif;
  font-weight: 600;
  font-style: normal;
  word-spacing: normal;
   width: 100%;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 4%;
    color: #800000;
 }

  .school-grade-right{ 

    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; 
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

  .badge{ 
    display: none;
    margin-left: 60px;
    width: 90px;
    height: 90px;
    padding: 20px;
 }

   .badge_1{ 
    align-self: center;
    /* align-content: center; */
    margin-left: 60px;
    width: 100px;
    height: 100px;
    padding: 20px;
    display: block;
 }

 
   .badge_3{ 
    align-self: center;
    /* align-content: center; */
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;

    display: block;
 }

 body{
  width: 100%;
  overflow-x: hidden;
 }

  .badge_2{ 
    margin-top: -8%;
    display: block;
    /* align-items: end; */
    width: 90px;
    height: 90px;

    /* transform: translateY(-50%); */
 }
.ind_h4{
    color: #FFC300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 20px;
 
}

 .left-child {
  width: 100px; /* or however wide your logo/badge should be */
  flex-shrink: 0;
  display: none;
}

.right-child {
  width: 100px; /* or however wide your logo/badge should be */
  flex-shrink: 0;
  margin-right: 70px;
  display: none;
}
  
 .school-grade-left{ 

  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .school-address-left
 {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
     display: flex;
    flex-direction: column;
    align-items: center;
 }

 .school-name-left{
   font-family: "DM Serif Text", serif;
  font-weight: 600;
  font-style: normal;
  word-spacing: normal; 
    padding-top: 4px;
    margin: 0;
    width: 100%; 
    align-items: center;
    margin-top: 4%;
    color: #800000;
 }

  



}
