 body{
    margin: 0;
}

.bgImage {
  width: 60%; 
    display: block;
     /* max-width: 60%;   */
      /* choose the max width you want */
    height: auto;
    max-height: 60%;  
    margin: 2% auto 0 auto;
    -webkit-user-drag: none; 
    user-drag: none;
     object-position: inherit;
}
.bgImage::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: transparent;
      z-index: 10;
    }

.subheader{
    /* color: #0e43c9; */
     margin-left: 20%;
    font-family: "Unna", serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: medium;
}
.transport-description{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 20%;
    line-height: 1.5;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-size: 14px;
    
} 
 
header,nav{
    display: flex;
    background-color: #0e43c9;
    padding: 2px;
 }


 @media (max-width:786px){
    width: 100%; 
    display: block;
    height: auto;
    max-height: 60%;  
    margin: 2% auto 0 auto;
   -webkit-user-drag: none;
    user-drag: none;
}
.bgImage::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: transparent;
      z-index: 10;
    }

 .subheader{
    /* color: #0e43c9; */
       margin-left: 3%;
    font-family: "Unna", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

.transport-description{
     margin-left: 3%;
     margin-right: 3%;
    width: auto;
    line-height: 1.4; 
    padding: 0; 
    font-family: "Domine", serif;
    font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size: 15px;
}

/* Updated UI*/
.admission-body{
    height: 55%;
    
}

     }
